[nessus]
url=https://127.0.0.1:8834
username=foo
password=bar
directory=nessus_files
exclude_hosts=[]

[ghostwriter]
url=http://127.0.0.1:8080
api_url=${ghostwriter:url}/v1/graphql
api_token=eyJhbGciOiJIUzI1NiI...
assigned_to_id=1
throttle=0

[logging]
level=debug
log_dir=logs
log_file=ghostwriter_nessus_importer.log
path=${logging:log_dir}/${logging:log_file}
rotate_when=midnight
rotate_interval=1
backup_count=7
stream_json_indent=4

[logging_renamed_fields]
levelname=severity
asctime=timestamp
name=logfile
